<p-toast></p-toast>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div>
    <div *ngIf="currentStep === 1">
        <app-quote-package (FinalizeStep)="packageList = $event; isValid = false"
                            #child>

        </app-quote-package>
    </div>
    <div *ngIf="currentStep === 2">
        <app-billing-information 
                                 [packageList]="packageList"
                                 [totalPayment]="totalPayment"
                                 (finalizeStep)="isValid = false"
                                 (isValid)="isValid = $event"
                                 #child>
        </app-billing-information>
    </div>
    <div *ngIf="currentStep === 3">
        <app-payment-confirmation [invoiceInformation]="invoiceInformation"
        #child> 
        </app-payment-confirmation>
    </div>

    <!--STEPPER BUTTONS-->
    <div class="row m-0 justify-content-between">
        <div class="col-6 d-flex justify-content-start px-2 px-sm-5 mb-3" *ngIf="currentStep === 1">
            <button pButton pRipple  
                    class="p-button-outlined"
                    label="Volver"
                    (click)="redirect()">
            </button>
        </div>
        <div class="col-6 d-flex justify-content-end px-2 px-sm-5 mb-3" *ngIf="currentStep != 3" >
            <button pButton pRipple  
                    class="p-button-outlined"
                    label="Confirmar"
                    [disabled]="isValid"
                    (click)="confirm()">
            </button>
        </div>
    </div>
</div>

<p-dialog header="Nota o observación de la factura" [(visible)]="displayDescription" [style]="{width: '40vw'}">
    <div class="row justify-content-center">
        <form [formGroup]="formGroup">
            <textarea rows="5" 
                      cols="30"
                      class="col-12" 
                      formControlName="description" 
                      minlength="4" 
                      maxlength="200" 
                      pInputTextarea 
                      [(ngModel)]="description" 
                      (ngModelChange)="modalIsValid2" >
            </textarea>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger" (click)="displayDescription=false"></button>
        <p-button icon="pi pi-check" 
                    (click)="displayDescription=false; 
                    nextStep(true)" 
                    label="Aceptar" 
                    [disabled]="validModal()"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>
