<div class="row m-0">
    <div *ngIf="check">
        <div class="section">
            <div class="success-checkmark">
                <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
                </div>
            </div>
        </div>
        <div class="section2">
            <span>Factura generada redireccionando a módulo de gestión</span>
        </div>
    </div>
    <div *ngIf="loadPage">
        <div class="section">
            <span class="loader"></span>
        </div>
        <div class="section2">
            <span>Generando la factura</span>
        </div>
    </div>
</div>

