.title{
    font-weight: 600;
    font-size: 32px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 48px
}

.sub-title{
    font-weight:bold;
    font-size: 18px;
    color: #000000;
}
.pabiont-card{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.isValid{
    opacity: 0.7;
    .pointer{
        cursor: default !important;
    }
}

.rowBack{
    margin: 20px !important;
.pointer{
    cursor: pointer;
}
.backgroundQuote{
    background-color:rgba(30, 127, 168, 0.15);
    border-radius: 20px;
    height: 150px;
    margin-top: 24px;
    .titleQuote{
        font-size: 30px;
        margin-top: 5px;
    }
    .number{
        font-size: 40px;
        font-weight: bold;
    }
    .currency{
        font-size: 24px;
        font-weight: bold;
    }
}
}
@media (max-width: 1324px) {
    .rowBack{
        .backgroundQuote{
            .titleQuote{
                font-size: 28px;
            }
            .number{
                font-size: 38px;
                font-weight: bold;
            }    
        }
    }          
}

@media (max-width: 1120px) {
    .rowBack{
        .backgroundQuote{
            .titleQuote{
                font-size: 24px;
            }
            .number{
                font-size: 34px;
                font-weight: bold;
            }    
        }
    }          
}

@media (max-width: 900px) {
    .rowBack{
        .backgroundQuote{
            .titleQuote{
                font-size: 20px;
            }
            .number{
                font-size: 28px;
                font-weight: bold;
            }    
        }
    }          
}



::ng-deep {
    .p-button:enabled:active, .p-buttonset > .p-button:enabled:active, .p-splitbutton > .p-button:enabled:active {
        background: rgba(28, 178, 114, 0.7);
    }
    .p-button:enabled:focus, .p-buttonset > .p-button:enabled:focus, .p-splitbutton > .p-button:enabled:focus {
        background: rgba(28, 178, 114, 0.7);
    }

    .p-button:enabled:hover, .p-buttonset > .p-button:enabled:hover, .p-splitbutton > .p-button:enabled:hover{
        background: rgba(28, 178, 114, 0.7);
        color: white;
    }
    .p-button.small{
        color: white;
        background: rgba(75, 42, 242, 0.7);
        border-radius: 10px;
        font-size: 16px;
        width:48px;
        height:48px;
    }
    .p-button.medium{
        color: white;
        background: rgba(75, 42, 242, 0.7);
        border-radius: 10px;
        font-size: 24px;
        width:54px;
        height:54px;
    }
    .p-button.large{
        color: white;
        background: rgba(75, 42, 242, 0.7);
        border-radius: 10px;
        font-size: 32px;
        width:64px;
        height:64px;
    }
}