<p-toast></p-toast>
<div class="row p-5 m-0">
    <span class="title">Gestión de Choferes asignados</span>
    <div class="pabiont-card ">
        <app-basic-table    [headerList]="page.tableConfiguration.headerList"
                            [headerCustomButtons]="page.tableConfiguration.headerCustomButtons"
                            [customButtons]="page.tableConfiguration.customButtons"
                            [dataList]="userList"
                            [searchField]="page.tableConfiguration.searchField"
                            [canCreate]="true">
        </app-basic-table>
    </div>
</div>

<p-dialog [(visible)]="visibleDialog" (onHide)="child.resetForm()" [style]="{width: '450px'}" header="Asignar chofer a vehículo " [modal]="true" styleClass="p-fluid" >
        
    <app-create-form    (buttonEnabled)="buttonEnabled($event)"
                        (updateList)="getAllDrivers()"
                        #child>
    </app-create-form>

    <ng-template class="m-0" pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="!buttonIsEnabled" (click)="hideDialog();child.submit()"></button>
    </ng-template>
</p-dialog>

<div class="d-flex justify-content-start px-5 mb-3">
    <button pButton pRipple  
            class="p-button-outlined"
            (click)="redirect()"
            label="Volver">
    </button>
</div>