<div class="row m-0">
    <span class="title">Información de Paquetes</span>
    <app-quotes  #child
                 [isSelectable]="true"
                 [isShowedA]="isShowedA"
                 [isShowedM]="isShowedM"
                 (isClicked)="packageInformation = $event; displayDescription=true ">
    </app-quotes>
</div>
<div class="row m-0 p-4">
    <div class="pabiont-card ">
        <app-basic-table    [headerList]="page.tableConfiguration.headerList"
                            [customButtons]="page.tableConfiguration.customButtons"
                            [dataList]="packageList"
                            [canCreate]="true">
        </app-basic-table>
    </div>
</div>

<p-dialog header="Descripción del paquete" [(visible)]="displayDescription" [style]="{width: '50vw'}">
    <div class="row justify-content-center">
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="description" (ngModelChange)="modalIsValid = false" ></textarea>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger" (click)="displayDescription=false"></button>
        <p-button icon="pi pi-check" 
                    (click)="displayDescription=false; 
                    addToList(); 
                    child.clearPackageInformation()" 
                    label="Aceptar" 
                    [disabled]="modalIsValid"
                    styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>