.nb-theme-default nb-chat.size-medium {
    height: 28.5rem;
}

.nb-theme-default nb-chat {
    background-color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

[_nghost-srx-c7] {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.nb-theme-default nb-chat.status-basic .header {
    background-color: #ffffff;
    color: #222b45;
}

.nb-theme-default nb-chat .header {
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 1rem 1.25rem;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.nb-theme-default nb-chat .scrollable {
    overflow: auto;
    flex: 1;
    scrollbar-face-color: #e4e9f2;
    scrollbar-track-color: #f7f9fc;
}

.nb-theme-default nb-chat .messages {
    padding: 1rem 1.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.nb-theme-default nb-chat-message {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.nb-theme-default nb-chat-message .avatar {
    border-radius: 50%;
    flex-shrink: 0;
    background: #c5cee0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.875rem;
    color: white;
}

[dir=ltr] .nb-theme-default nb-chat-message.not-reply .message {
    margin-right: 3rem;
}

[dir=ltr] .nb-theme-default nb-chat-message.not-reply .message {
    margin-left: 0.5rem;
}

.nb-theme-default nb-chat-message .message {
    flex: 1;
}

.nb-theme-default nb-chat-message.not-reply nb-chat-message-text {
    align-items: flex-start;
}

.nb-theme-default nb-chat-message nb-chat-message-text {
    display: flex;
    flex-direction: column;
}

.nb-theme-default nb-chat-message nb-chat-message-text .sender {
    font-size: 0.875rem;
    color: #8f9bb3;
    margin-bottom: 0.5rem;
}

.nb-theme-default nb-chat-message nb-chat-message-text p {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    margin-bottom: 0;
}

.nb-theme-default p, .nb-theme-default .paragraph {
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.nb-theme-default nb-chat-message nb-chat-message-text .sender {
    font-size: 0.875rem;
    color: #8f9bb3;
    margin-bottom: 0.5rem;
}

.nb-theme-default nb-chat-message nb-chat-message-text p {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    margin-bottom: 0;
}

.nb-theme-default p, .nb-theme-default .paragraph {
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

[dir=ltr] .nb-theme-default nb-chat-message.not-reply nb-chat-message-text .text {
    border-top-left-radius: 0;
}

.nb-theme-default nb-chat-message.not-reply nb-chat-message-text .text {
    background: #3366ff;
    color: #ffffff;
}

.nb-theme-default nb-chat-message nb-chat-message-text .text {
    padding: 1rem;
    border-radius: 0.5rem;
}

.nb-theme-default nb-chat-message nb-chat-message-text p {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    margin-bottom: 0;
}

.nb-theme-default p, .nb-theme-default .paragraph {
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.nb-theme-default nb-chat-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
    border-top: 1px solid #edf1f7;
}

.nb-theme-default nb-chat-form .message-row {
    flex-direction: row;
    display: flex;
}

[dir=ltr] .nb-theme-default nb-chat-form input.with-button {
    border-top-right-radius: 0;
}

[dir=ltr] .nb-theme-default nb-chat-form input.with-button {
    border-bottom-right-radius: 0;
}

.nb-theme-default [nbInput].shape-rectangle {
    border-radius: 0.25rem;
}

.nb-theme-default [nbInput].size-medium {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1rem;
}

.nb-theme-default [nbInput].status-basic {
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
}

.nb-theme-default [nbInput].input-full-width {
    width: 100%;
}

.nb-theme-default [nbInput].nb-transition {
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
}

.nb-theme-default nb-chat-form input.with-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.nb-theme-default [nbInput] {
    border-style: solid;
    border-width: 1px;
    font-family: Open Sans, sans-serif;
    -webkit-appearance: none;
}

.nb-theme-default nb-chat-form input {
    flex: 1;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.nb-theme-default [nbButton].size-medium.icon-start.icon-end.appearance-filled {
    padding: 0.6875rem 0.5625rem;
}

.nb-theme-default [nbButton].appearance-filled.status-primary {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
}

.nb-theme-default [nbButton].appearance-filled.size-medium {
    padding: 0.6875rem 1.125rem;
}

[dir=ltr] .nb-theme-default nb-chat-form .send-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.nb-theme-default [nbButton].appearance-filled {
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
}

.nb-theme-default [nbButton].shape-rectangle {
    border-radius: 0.25rem;
}

.nb-theme-default [nbButton].size-medium {
    font-size: 0.875rem;
    line-height: 1rem;
}

.nb-transition[_nghost-srx-c10] {
    transition-duration: 0.15s;
    transition-property: background-color,border-color,box-shadow,color;
    transition-timing-function: ease-in;
}

.nb-theme-default [nbButton] {
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[_nghost-srx-c10] {
    appearance: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.nb-theme-default nb-chat-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
    border-top: 1px solid #edf1f7;
}

.nb-theme-default nb-chat-form .message-row {
    flex-direction: row;
    display: flex;
}

[dir=ltr] .nb-theme-default nb-chat-form input.with-button {
    border-top-right-radius: 0;
}

[dir=ltr] .nb-theme-default nb-chat-form input.with-button {
    border-bottom-right-radius: 0;
}

.nb-theme-default [nbInput].shape-rectangle {
    border-radius: 0.25rem;
}

.nb-theme-default [nbInput].size-medium {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1rem;
}

.nb-theme-default [nbInput].status-basic {
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
}

.nb-theme-default [nbInput].input-full-width {
    width: 100%;
}

.nb-theme-default [nbInput].nb-transition {
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
}

.nb-theme-default nb-chat-form input.with-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.nb-theme-default [nbInput] {
    border-style: solid;
    border-width: 1px;
    font-family: Open Sans, sans-serif;
    -webkit-appearance: none;
}

.nb-theme-default nb-chat-form input {
    flex: 1;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.nb-theme-default [nbButton].size-medium.icon-start.icon-end.appearance-filled {
    padding: 0.6875rem 0.5625rem;
}

.nb-theme-default [nbButton].appearance-filled.status-primary {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
}

.nb-theme-default [nbButton].appearance-filled.size-medium {
    padding: 0.6875rem 1.125rem;
}

[dir=ltr] .nb-theme-default nb-chat-form .send-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.nb-theme-default [nbButton].appearance-filled {
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
}

.nb-theme-default [nbButton].shape-rectangle {
    border-radius: 0.25rem;
}

.nb-theme-default [nbButton].size-medium {
    font-size: 0.875rem;
    line-height: 1rem;
}

.nb-transition[_nghost-ajr-c10] {
    transition-duration: 0.15s;
    transition-property: background-color,border-color,box-shadow,color;
    transition-timing-function: ease-in;
}

.nb-theme-default [nbButton] {
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[_nghost-ajr-c10] {
    appearance: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

.nb-theme-default [nbButton].size-medium nb-icon {
    font-size: 0.875rem;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}
.nb-theme-default nb-chat-form .send-button nb-icon {
    font-size: 1.5rem;
}
.nb-theme-default nb-chat nb-icon {
    font-size: inherit;
}

[_nghost-ajr-c10] nb-icon {
    vertical-align: top;
}

.nb-theme-default nb-icon {
    font-size: 1.25rem;
    line-height: 1;
    width: 1em;
    height: 1em;
}

[_nghost-ajr-c9] {
    display: inline-block;
}

.nb-theme-default nb-icon svg {
    vertical-align: top;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}

.nb-theme-default nb-chat-message.reply nb-chat-message-text {
    align-items: flex-end;
}
.nb-theme-default nb-chat-message nb-chat-message-text {
    display: flex;
    flex-direction: column;
}


[dir=ltr] .nb-theme-default nb-chat-message.reply nb-chat-message-text .text {
    border-top-right-radius: 0;
}
.nb-theme-default nb-chat-message.reply nb-chat-message-text .text {
    background: #f7f9fc;
    color: #222b45;
}
.nb-theme-default nb-chat-message nb-chat-message-text .text {
    padding: 1rem;
    border-radius: 0.5rem;
}
.nb-theme-default nb-chat-message nb-chat-message-text p {
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    margin-bottom: 0;
}
.nb-theme-default p, .nb-theme-default .paragraph {
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.nb-theme-default nb-chat-message.reply {
    flex-direction: row-reverse;
}
.nb-theme-default nb-chat-message {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

[dir=ltr] .nb-theme-default nb-chat-message.reply .message {
    margin-left: 3rem;
}
[dir=ltr] .nb-theme-default nb-chat-message.reply .message {
    margin-right: 0.5rem;
}
.nb-theme-default nb-chat-message.reply .message {
    margin-left: 0;
}
.nb-theme-default nb-chat-message .message {
    flex: 1;
}