<div class="m-0">
    <p-table #dt [columns]="headerList" [value]="dataList" [rows]="10" [paginator]="true" [globalFilterFields]="searchField" 
                responsiveLayout="stack" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} resultados" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <div class="row">
                    <div class="px-4 tableHeader d-flex align-items-center" [ngClass]="{'justify-content-between': innerWidth < 720}">
                        <div *ngIf="canCreate">
                            <button pButton pRipple  
                                    *ngFor="let customButton of headerCustomButtons" 
                                    icon="{{customButton.icon}}" 
                                    label="{{customButton.tooltipTitle}}"
                                    (click)="selectCustomButton(customButton.buttonId)"
                                    class="{{customButton.iconClass}}">
                            </button>
                        </div>   
                    </div>
                    
                    <div class="col-12 d-flex mt-4 justify-content-end grid p-fluid" *ngIf="innerWidth < 720">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                        </span>
                    </div>
                     
                </div>
                <span class="p-input-icon-left" *ngIf="innerWidth >= 720">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    {{col.header}}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
                <th class="text-center" *ngIf="customButtons.length > 0">
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span class="ui-column-title" *ngIf="innerWidth < 960">{{col.header}}: </span> 
                    <span class="product-badge status-INSTOCK" style="word-break: break-all; margin: 5px;">
                        {{rowData[col.field]}}
                    </span>
                </td>
                <td class="text-center" [ngClass]="{'justify-content-end': innerWidth < 960}" *ngIf="customButtons.length > 0">
                    <div>
                        <button pButton pRipple  
                                *ngFor="let customButton of customButtons" 
                                icon="{{customButton.icon}}" 
                                pTooltip="{{customButton.tooltipTitle}}" 
                                tooltipPosition="top"
                                (click)="selectCustomButton(customButton.buttonId, rowData)"
                                class="p-button-rounded p-button-text mr-2 {{customButton.iconClass}}">
                        </button>
                    </div> 
                    <!--<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>-->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
