<form [formGroup]="formGroup" >
    <div class="row p-formgrid p-grid mt-3">
        <div class="p-field col-6">
            <label for="Aerial">Tarifa Aérea</label>
            <p-inputNumber  inputId="aerialId" 
                            mode="decimal"
                            formControlName="aerial"
                            [minFractionDigits]="1" 
                            [maxFractionDigits]="2"
                            [maxlength]="6"
                            placeholder="0"
                            class="w-100"
                            [ngClass]="{'ng-dirty ng-invalid': (formGroup.controls['aerial'].touched && formGroup.controls['aerial'].errors?.required) 
                                            || (formGroup.controls['aerial'].value <= 0 && formGroup.controls['aerial'].value != null)}">
            </p-inputNumber>
            <small class="p-error d-block" *ngIf="(formGroup.controls['aerial'].touched && formGroup.controls['aerial'].errors?.required) 
                                            || (formGroup.controls['aerial'].value <= 0 && formGroup.controls['aerial'].value != null)">
                El campo no puede ser cero o estar vacío.
            </small>
        </div>
        <div class="p-field col-6">
            <label for="Maritime">Tarifa Marítima</label>
            <p-inputNumber  inputId="maritimeId" 
                            mode="decimal"
                            formControlName="maritime"
                            [minFractionDigits]="1" 
                            [maxFractionDigits]="2"
                            [maxlength]="6"
                            placeholder="0"
                            class="w-100"
                            [ngClass]="{'ng-dirty ng-invalid': (formGroup.controls['maritime'].touched && formGroup.controls['maritime'].errors?.required) 
                                            || (formGroup.controls['maritime'].value <= 0 && formGroup.controls['maritime'].value != null)}">
            </p-inputNumber>
            <small class="p-error d-block" *ngIf="(formGroup.controls['maritime'].touched && formGroup.controls['maritime'].errors?.required) 
                                            || (formGroup.controls['maritime'].value <= 0 && formGroup.controls['maritime'].value != null)">
                El campo no puede ser cero o estar vacío.
            </small>
        </div>
    </div>
    <div class="p-field mt-3">
        <label for="Company">Compañía</label>
        <input  type="text" 
                    id="Company" 
                    [ngClass]="{'ng-dirty ng-invalid': formGroup.controls['company'].touched && formGroup.controls['company'].errors?.required}"
                    pInputText
                    formControlName="company" 
                    required />
        <small class="p-error" *ngIf="formGroup.controls['company'].touched && formGroup.controls['company'].errors?.required">El campo es obligatorio.</small>
    </div>
    
</form>