<div class="row p-5 m-0">
    <span class="title">Gestión de Facturas y Paquetes</span>
    <div class="pabiont-card ">
        <app-basic-table    [headerList]="page.tableConfiguration.headerList"
                            [customButtons]="page.tableConfiguration.customButtons"
                            [dataList]="invoiceList"
                            [searchField]="page.tableConfiguration.searchField"
                            [canCreate]="true">
        </app-basic-table>
    </div>
</div>

<div *ngIf="currentStep != 2">
    <p-dialog [(visible)]="visibleDialog" (onHide)="child.resetForm()" [style]="{width: '450px'}" header="Modificar Estatus de Factura" [modal]="true" styleClass="p-fluid" >
    
        <app-create-form    (buttonEnabled)="buttonEnabled($event)"
                            (updateList)="getInvoiceList()"
                            #child>
        </app-create-form>
    
    
        <ng-template class="m-0" pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="!buttonIsEnabled" (click)="hideDialog();child.submit()"></button>
        </ng-template>
    </p-dialog>
</div>

<div *ngIf="currentStep == 2">
    <p-dialog [(visible)]="visibleDialog" (onHide)="hideDialog()" [style]="{width: '950px'}" header="Modificar Estatus de Paquetes" [modal]="true" styleClass="p-fluid" >
    
        <app-package-management [packageList]="packageList"
                                [invoice]="invoiceCode"
                                (updateList)="getPackagesList(invoiceCode)
                                ">
        </app-package-management>
    
        <ng-template class="m-0" pTemplate="footer">
            <button pButton pRipple label="Continuar" icon="pi pi-check" class="p-button-text" (click)="hideDialog()"></button>
        </ng-template>
    </p-dialog>
</div>

<div class="d-flex justify-content-start px-5 mb-3">
    <button pButton pRipple  
            class="p-button-outlined"
            (click)="redirect()"
            label="Volver">
    </button>
</div>
    