
<!--HEADER-->
<p-toast position="top-center" key="tc"></p-toast>
<div class="headerSection" (click)="closeForm()">
    <!--NAVBAR-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <img src="assets/img/logo.png" height="80" class="logo mr-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navSection">
                <a class="nav-item nav-link active" href="#Home">Home</a>
                <a class="nav-item nav-link" href="#Cotizaciones">Cotizaciones</a>
                <a class="nav-item nav-link" href="#Contactanos">Contáctanos</a>                
                <a class="nav-item nav-link" href="/login">Login</a>
            </div> 
            </div>
        </nav>
    </div>
    <div class="formSection" id="Home">
        <div class="title">Envíos de paquetes rápidos y económicos</div>
        <div class="subtitle">Verifica el estatus de tu envío desde tu computador o celular</div>
        <div class="searchInput row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <form [formGroup]="searchForm">
                    <input  class="formSection m-0" 
                            placeholder="Ingresa el código de Tracking o Email..."
                            type="text" 
                            pInputText
                            formControlName = "searchInput"
                            (keyup.enter)="searchPackage(searchForm.controls['searchInput'].value, Tracking)"> 
                    <button pButton 
                            pRipple 
                            type="button" 
                            icon="pi pi-search" 
                            class="p-button-rounded p-button-success group"
                            (click)="searchPackage(searchForm.controls['searchInput'].value, Tracking)">
                    </button>   
                </form>
            </div>
            <div >
                <i ></i>
            </div>
        </div>
    </div>
    
</div>
<!--TRACKING-->
<div (click)="closeForm()" #Tracking>
    <div *ngIf="isSubmit" class="row trackingSection m-0" >
            <app-basic-table   
                                [headerList]=headerList
                                [dataList]=tracking
                                [canCreate]="false"
                                [searchField]="searchField">
            </app-basic-table>
        
    </div>
</div>
<!--QUOTE-->
<div (click)="closeForm()" id="Cotizaciones">
    <div class="quotesSection row p-0 m-0">
        <div class="col-6 d-none d-lg-block p-0">
            <img class="image img-fluid" src="assets/img/Cotizacion-back.jpg">
        </div>
        
        <div class="inputSection col-12 col-lg-6 p-0 m-0">
            <form [formGroup]="quotesForm">
                <div class="text-center title">Ingresa los datos de tu paquete</div>
                <div class="row p-formgrid p-grid m-3">
                    <div class="col-12 col-sm-6 col- p-0 p-field text-center">
                        <label class="d-block my-3 label" for="weightId">Peso(Libras)</label>
                        <p-inputNumber  inputId="weightId" 
                                        mode="decimal"
                                        formControlName="weight"
                                        [minFractionDigits]="1" 
                                        [maxFractionDigits]="2"
                                        placeholder="0"
                                        [ngClass]="{'ng-dirty ng-invalid': (quotesForm.controls['weight'].touched && quotesForm.controls['weight'].errors?.required) 
                                                        || (quotesForm.controls['weight'].value <= 0 && quotesForm.controls['weight'].value != null)}">
                        </p-inputNumber>
                        <small class="p-error d-block" *ngIf="(quotesForm.controls['weight'].touched && quotesForm.controls['weight'].errors?.required) 
                                                        || (quotesForm.controls['weight'].value <= 0 && quotesForm.controls['weight'].value != null)">
                            El campo no puede ser cero o estar vacio.
                        </small>
                    </div>
                    <div class="col-12 col-sm-6 p-0 p-field text-center">
                        <label class="d-block my-3 label" for="highId">Largo(Pulgadas)</label>
                        <p-inputNumber  inputId="highId" 
                                        mode="decimal"
                                        formControlName="high" 
                                        [minFractionDigits]="1" 
                                        [maxFractionDigits]="2"
                                        placeholder="0"
                                        [ngClass]="{'ng-dirty ng-invalid': (quotesForm.controls['high'].touched && quotesForm.controls['high'].errors?.required) 
                                                        || (quotesForm.controls['high'].value <= 0 && quotesForm.controls['high'].value != null)}">
                        </p-inputNumber>                  
                        <small class="p-error d-block" *ngIf="(quotesForm.controls['high'].touched && quotesForm.controls['high'].errors?.required) 
                                                        || (quotesForm.controls['high'].value <= 0 && quotesForm.controls['width'].value != null)">
                            El campo no puede ser cero o estar vacio.
                        </small>
                    </div>
                    <div class="col-12 col-sm-6 p-0 p-field text-center mt-3">
                        <label class="d-block my-3 label" for="widthId">Ancho(Pulgadas)</label>
                        <p-inputNumber  inputId="widthId" 
                                        mode="decimal"
                                        formControlName="width"  
                                        [minFractionDigits]="1" 
                                        [maxFractionDigits]="2"
                                        placeholder="0"
                                        [ngClass]="{'ng-dirty ng-invalid': (quotesForm.controls['width'].touched && quotesForm.controls['width'].errors?.required) 
                                                        || (quotesForm.controls['width'].value <= 0 && quotesForm.controls['width'].value != null)}">
                    </p-inputNumber>                  
                    <small class="p-error d-block" *ngIf="(quotesForm.controls['width'].touched && quotesForm.controls['width'].errors?.required) 
                                                    || (quotesForm.controls['width'].value <= 0 && quotesForm.controls['width'].value != null)">
                        El campo no puede ser cero o estar vacio.
                    </small>
                    </div>
                    <div class="col-12 col-sm-6 p-0 p-field text-center mt-3">
                        <label class="d-block my-3 label" for="longId">Alto(Pulgadas)</label>
                        <p-inputNumber  inputId="longId" 
                                        mode="decimal"
                                        formControlName="long" 
                                        [minFractionDigits]="1" 
                                        [maxFractionDigits]="2"
                                        placeholder="0"
                                        [ngClass]="{'ng-dirty ng-invalid': (quotesForm.controls['long'].touched && quotesForm.controls['long'].errors?.required) 
                                                        || (quotesForm.controls['long'].value <= 0 && quotesForm.controls['long'].value != null)}">
                        </p-inputNumber>                  
                        <small class="p-error d-block" *ngIf="(quotesForm.controls['long'].touched && quotesForm.controls['long'].errors?.required) 
                                                        || (quotesForm.controls['long'].value <= 0 && quotesForm.controls['width'].value != null)">
                            El campo no puede ser cero o estar vacio.
                        </small>
                    </div>
                <div class="text-center title mt-5">Costos Estimados</div>
                <div class="row justify-content-between text-center">
                    <div class="col-5 backgroundQuote">
                        <p class="titleQuote">Envío Marítimo</p>
                        <span class="number" [innerHTML]="calculateRateMaritime().toFixed(2)"></span>
                        <span class="number"> USD</span>
                    </div>
                    <div class="col-5 backgroundQuote">
                        <p class="titleQuote">Envío Aéreo</p>
                        <span class="number" [innerHTML]="calculateRateAerial().toFixed(2)"></span>
                        <span class="number"> USD</span>
                    </div>
                </div>
                
                </div>
            </form>
        </div>
    </div>
</div>
<!--FOOTER-->
<div (click)="closeForm()" id="Contactanos">
    <img class="img-fluid" src="assets/img/footerimagen.jpg">
    <div class="footerSection row p-0 m-0 align-items-start">
        <div class="col-12 col-sm-6 col-lg-5">
            <p class="footerTitle">Datos de contacto <br></p>
            <span class="footerSubtitle">Comunícaticate con nosotros</span>     
        </div>
        <div class="col-12 col-sm-6 d-lg-none mt-4">
            <p class="footerSecundaryTitle">Dirección Postal<br></p>  
            <span class="footerSecundarySubtitle">Calle Faisanes 123, Durango, Dgo.12600 Deerfield Parkway #100
                Alpharetta, Georgia 30004</span>
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mt-4">
            <p class="footerSecundaryTitle">Whatsapp<br></p>
           <i class="pi pi-whatsapp"></i>
           <a href="https://api.whatsapp.com/send?phone=+14155238886&text=join%20my-other">+1 415 523 8886</a>
           
        </div>
        <div class="col-12 col-sm-6 col-lg-2 mt-4">
            <p class="footerSecundaryTitle">Correo<br></p>
            <span class="footerSecundarySubtitle">info@newtoms.com</span>
        </div>
        <div class="col-3 d-none d-lg-block mt-4">
            <p class="footerSecundaryTitle">Dirección Postal<br></p>  
            <span class="footerSecundarySubtitle"> Dgo.12600 Deerfield Parkway #100
                Alpharetta, Georgia 30004</span>
        </div>
    </div>
</div>

<button style="background: url(assets/img/webchat-icon.png)" class="open-button ring-effect-ph-circle-fill" (click)="openForm()"></button>

<div class="chat-popup"  [ngClass]="{'d-block': showWebChat, 'd-none': !showWebChat}"> 
  
    <button style="background: url(assets/img/close-icon.png)" class="close-button" (click)="closeForm()"></button>
    <div class="form-container">
      <app-chatbot></app-chatbot>
      <!--<button type="button" class="btn cancel" (click)="closeForm()">Close</button>-->
    </div>
  </div>