<!--NAVBAR-->
<div></div>
<!--HEADER-->
<div class="headerSection">
    <div class="formSection">
        <div class="title">Envíos de paquetes rápidos y económicos</div>
        <div class="subtitle">Verifica el estatus de tu envio desde tu computador o celular</div>
        <div class="searchInput row">
            <div class="col-6 offset-3">
                <div class="input-group">
                    <input  class="formSection m-0" 
                            placeholder="Ingresa el código de Tracking o Email..."
                            type="text" 
                            pInputText> 
                    <button type="button" pButton pRipple icon="pi pi-times" styleClass="formSection p-button-danger"></button>      
                </div>
            </div>
            <div >
                <i ></i>
            </div>
        </div>
    </div>
    
</div>

<div>

</div>

<div>

</div>
<!--FOOTER-->
<div>
 <div></div>
 <div></div>
</div>