
.navbar{
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 20px;
    .navSection{
        margin-left: auto;
    }
}
.headerSection{   
    text-align: center;
    color: white;
    display: flex;
    background-image: url('/assets/img/portada.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    .logo{
        margin-left: 10px;
    }
    .formSection{
        margin: 0px 60px 30px 60px;
        .title{
            font-size: 70px;
        }
        .subtitle{
            font-size: 35px;
            font-weight: bold;
            margin-top: 8px;
        }
        .searchInput{
            margin-top: 24px;
            .group {
                margin: -8px 0px 6px -60px;
            }
            .formSection{
                width: 100%;
                height: 60px;
                border-radius: 30px;
            }
            
        }
    }
    
}

.quotesSection{
    height: auto;
    z-index: 1;
    .image{
        width: 100%;
        height: 100%;
    }
    .inputSection{
        background-color: #efefef;
        .title{
            font-size: 24px;
            font-weight: bold;
            margin-top: 16px;
        }
        .label{
            font-size: 20px;
        }
    }
    .backgroundQuote{
        background-color: white;
        height: 170px;
        margin-top: 24px;
        z-index: 1;
        .titleQuote{
            font-size: 30px;
            margin-top: 18px;
        }
        .number{
            font-size: 42px;
            font-weight: bold;
        }
        
        
    }
}

.trackingSection{
    background-image: url('/assets/img/tracking.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}

.footerSection{
    background-color: white;
    height: 200px;
    align-items: center;
    .footerTitle{
        color: #4b39b5;
        font-size: 40px;      
        margin-top: 18px;
    }
    .footerSubtitle{
        color: black;
        font-size: 24px;
    }
    .footerSecundaryTitle{
        color: #4b39b5;
        font-size: 24px;
        line-height: 24px;
        
    }
    .footerSecundarySubtitle{
        color: black;
        font-size: 18px;

    }
}
.footerBackground{
    background-image: url('/assets/img/footerimagen.jpg');
}



input::-webkit-input-placeholder{
    font-size: 22px;
    line-height: 3;
    color: rgba(0, 0, 0, 0.25);
}

br{
    margin: 0px;
}

@media (max-width: 991px) {
    .quotesSection{
        .inputSection{
            position: relative;
            overflow: hidden;
            
           // z-index: -1;
            .imgWrap{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                opacity: 0.3;
                height: 100%;
                z-index: 0
            }
            .title{
                font-size: 24px;
                font-weight: bold;
                margin-top: 16px;
                z-index: 1;
            }
            .label{
                font-size: 20px;
                z-index: 1;
            }
        }
            
    
    }

}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    padding: 32px 32px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 60px;
    z-index: 99998;
  }
  
  .close-button {
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    //border: 1px solid #f1f1f1;
    z-index: 99999;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 420px;
    //padding: 10px;
    //background-color: white;
  }
  
  .ring-effect-ph-circle-fill {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -ms-animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
    animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
  }
  
  @keyframes ring-effect-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.8) skew(1deg);
        //opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        //opacity: .2
    }
    100% {
        transform: rotate(0) scale(.8) skew(1deg);
        //opacity: .2
    }
  }
  
  .ring-effect-ph-circle {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 2px solid rgba(154, 0, 0, 0.4);
    animation: ring-effect-circle-anim 2s infinite ease-in-out;
  }
  
  @keyframes ring-effect-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        //opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        //opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        //opacity: .1
    }
  }

@media (max-width: 768px) {

    .headerSection{   
    
        .formSection{
            .title{
                font-size: 50px;
            }
            .subtitle{
                font-size: 25px;
            }
        }
        
    }

}

@media (max-width: 576px) {

    .headerSection{   
    
        .formSection{
            .title{
                font-size: 35px;
            }
            .subtitle{
                font-size: 22px;
            }
        }
        
    }
    .quotesSection{
        .backgroundQuote{
            height: 120px;
            .titleQuote{
                font-size: 20px;
            }
            .number{
                font-size: 30px;
                font-weight: bold;
            }
            
            
        }
    }

}