
.navbar{
    background: transparent;
    top: 0;
    width: 100%;
    font-size: 20px;
    box-shadow: 1px 1px 10px #888888;
    .navSection{
        margin-left: auto;
        color: black !important;
    .listItems{
        color: #1078d1  !important;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7) !important;
    }
    }
}
.headerSection{   
    text-align: center;
    color: white;
    display: flex;
    background-image: url('./../../../../../assets/img/cargo-radar-bg.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.7);
    .logo{
        margin-left: 10px;
    }
    .formSection{
        margin: 0px 60px 30px 60px;
        .title{
            font-style: normal;
            font-weight: 700;
            font-size: 74px;
            line-height: 97px;
        }
        .subtitle{
            font-size: 35px;
            font-weight: bold;
            margin-top: 8px;
        }
    }
    
}
.search{
    margin-bottom: 40px;
    .searchInput{
        margin-top: 24px;
        .group {
            margin: -8px 0px 6px -60px;
        }
        .formSection{
            width: 100%;
            height: 60px;
            border-radius: 30px;
        }
    }
    .formSection{
        margin: 30px 60px 30px 60px;
        .title{
            font-size: 34px;
            line-height: 63px;
            text-align: center;
        }
        .subtitle{
            font-size: 35px;
            font-weight: bold;
            margin-top: 8px;
        }
    }
}

.quotesSection{
    height: auto;
    z-index: 1;
    .image{
        width: 100%;
        height: 100%;
    }
    .inputSection{
        background-color: #ffffff;
        .title{
            font-size: 24px;
            font-weight: bold;
            margin-top: 16px;
        }
        .label{
            font-size: 20px;
        }
    }
    .backgroundQuote{
        background-color: white;
        height: 170px;
        margin-top: 20px;
        z-index: 1;
        text-align: -webkit-center;
        .pabiont-card{
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border: 2px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 50%;
        }
        .titleQuote{
            font-size: 30px;
            margin-top: 18px;
            color: #4289C7;
            font-weight: bold;
        }
        .number{
            font-size: 42px;
            font-weight: bold;
        }
        
        
    }
}

.trackingSection{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 24px !important;

    .pabiont-card{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

.footerSection{
    background-color: #13538A;
    width: 100%;
    align-items: center;
    padding: 48px 0px;
    .footerTitle{
        color: #3CCBFF;
        font-size: 40px;      
        margin-top: 18px;
    }
    .footerSubtitle{
        color: white;
        font-size: 24px;
    }
    .footerSecundaryTitle{
        color: #3CCBFF;
        font-size: 24px;
        line-height: 24px;
        
    }
    .footerSecundarySubtitle{
        color: white;
        font-size: 18px;

    }
}
.subfooter{
    height: 50px;
    background-color: #3CCBFF;
    .footerlogo{
        width: 100px;
        height: 40px;
        margin-top: 5px;
        text-align: center;
    }

}
.footerBackground{
    height: auto;
    text-align: center;
    margin: 48px 5%;
    .report{
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #13538A !important;
        font-style: italic;
        font-size: 300%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        cursor: pointer !important;
    }
}



input::-webkit-input-placeholder{
    font-size: 22px;
    line-height: 3;
    color: rgba(0, 0, 0, 0.25);
}

br{
    margin: 0px;
}

@media (max-width: 991px) {
    .quotesSection{
        .inputSection{
            position: relative;
            overflow: hidden;
            
           // z-index: -1;
            .imgWrap{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                opacity: 0.3;
                height: 100%;
                z-index: 0
            }
            .title{
                font-size: 24px;
                font-weight: bold;
                margin-top: 16px;
                z-index: 1;
            }
            .label{
                font-size: 20px;
                z-index: 1;
            }
        }
    }

}

@media (max-width: 1324px) {
    .quotesSection{
        .backgroundQuote{
            .titleQuote{
                font-size: 28px;
            }
            .number{
                font-size: 38px;
                font-weight: bold;
            }    
        }
    }          
}

@media (max-width: 1120px) {
    .quotesSection{
        .backgroundQuote{
            .titleQuote{
                font-size: 24px;
            }
            .number{
                font-size: 34px;
                font-weight: bold;
            }    
        }
    }          
}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    padding: 32px 32px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 60px;
    z-index: 99998;
  }
  
  .close-button {
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    //border: 1px solid #f1f1f1;
    z-index: 99999;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 420px;
    //padding: 10px;
    //background-color: white;
  }
  
  .ring-effect-ph-circle-fill {
    width: 72px;
    height: 72px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -ms-animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
    animation: ring-effect-circle-fill-anim 2.3s infinite ease-in-out;
  }
  
  @keyframes ring-effect-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.8) skew(1deg);
        //opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        //opacity: .2
    }
    100% {
        transform: rotate(0) scale(.8) skew(1deg);
        //opacity: .2
    }
  }
  
  .ring-effect-ph-circle {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 2px solid rgba(154, 0, 0, 0.4);
    animation: ring-effect-circle-anim 2s infinite ease-in-out;
  }
  
  @keyframes ring-effect-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        //opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        //opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        //opacity: .1
    }
  }

@media (max-width: 768px) {

    .headerSection{   
    
        .formSection{
            .title{
                font-size: 50px;
            }
            .subtitle{
                font-size: 25px;
            }
        }
        
    }

}

@media (max-width: 575px) {

    .headerSection{   
    
        .formSection{
            .title{
                font-size: 35px;
            }
            .subtitle{
                font-size: 22px;
            }
        }
        
    }
    .quotesSection{
        .backgroundQuote{
            height: 120px;
            .titleQuote{
                font-size: 16px;
            }
            .number{
                font-size: 24px;
                font-weight: bold;
            }   
        }
        .separate{
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

}