<div class="container text-center mt-3 ">
  <div class="row justify-content-center menu">
    <div class="col-11 col-md-6 col-xl-4 mb-3" *ngFor="let label of page">
        <div class="mt-2 cardBody p-3" (click)="gotoPage(label.urlID)">
          <!--<i class="{{label.icon}} optionIcon cardIcon d-none d-sm-block"></i>      icono lateral--> 
          <span class="title">{{label.title}}</span>
          <p class="text-start description px-2">{{label.subtitle}}&nbsp;<br></p>
      </div>
    </div>
  </div>
</div>
