.cardBody{
    background: linear-gradient(-111deg, rgb(40,170,224) 0%, rgb(138,191,213) 50%, white 99%), #28aae0;   
    border-radius: 18px;
    border-width: 0px;
    box-shadow: 6px 4px 5px rgb(158,168,179);
    height: 220px;
    color:rgb(0, 0, 0);

    .cardTitle{
        font-size: 24px;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 5px;
    }

    .cardText{
        font-size: 14px;
        margin-top: 12px;
    }

    .cardIcon{
        font-size: 83px;
        position: absolute;
        bottom: 10px;
        right: 35px;
        color: rgba(255, 255, 255, 0.11);
    }

    .cardButon{
        
        bottom: 20px;
        text-align: left;
        color: white;
    }

}